.background { 
	position: absolute;
	top:0;
	left:0;
	background-image: url('/static/img/background_hi.jpg');
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}

.shorten{
	height:75%;
	overflow-y: auto;
}

html, 
body {
	height: 100%;
}

.widen {
	width:100%;
}

footer {
	position:fixed;
	bottom:0;
	width:100%;
	margin:auto;
	padding-top: 10px;
	background-color: #1964ce;
	opacity:0.4;
	color: #fff;
}

#footer-link {
	color: #ccc;
}


#footer-link :hover,
#footer-link :focus {
	color: #000 !important;
	text-decoration: none;
	background-color: none;
}





